*{
    margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
   body {
    background: url("https://cdn.getyourguide.com/img/location/5b92669aded33.jpeg/88.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }
 #caja {
    
    background-color: rgb(228, 227, 227);
    height: 400px;
    width: 700px;;
    position: absolute;
    top: 20%;
    left: 25% ; 
    }
    h2 {
        font-family: "Homer Simpson UI";  
        font-size: 40pt;
        font-weight: lighter, bolder;
        margin: 0 auto;
        color: rgb(180, 69, 115);
        text-align: center   
    }
    
    .container {
        display: flex ;
        margin: 5%;
        justify-content:space-between;
        justify-content:space-around;
    }

    #cipher {
        box-shadow: 0px 5px 0px 0px rgba(255,175,52,255);
        text-align:center;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 100;
        color: rgb(196, 63, 63);
        background: rgb(244,209,166);
        width: 5.3rem;
        border: transparent;
        padding: 5px;
        border-radius: 100px;
    }

    #decipher {
        box-shadow: 0px 5px 0px 0px rgba(255,175,52,255);
        text-align:center;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 100;
        color: rgb(196, 63, 63);
        background: rgb(244,209,166);
        width: 5.3rem;
        border: transparent;
        padding: 5px;
        border-radius: 100px;
    }

    #clearbutton {
        box-shadow: 0px 5px 0px 0px rgba(255,175,52,255);
        text-align:center;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 100;
        color: rgb(196, 63, 63);
        background: rgb(244,209,166);
        width: 5.3rem;
        border: transparent;
        padding: 5px;
        border-radius: 100px;
    }

